@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

.home {
  margin-top: auto;
  margin-bottom: auto;
  font-family: "Bangers", cursive;
  font-size: xx-large;
  //   color: $gray-lightest;
}
