$gray-darkest: #11263f;
$gray-dark: #617691;
$gray: #d4dde9;
$gray-light: #edf1f5;
$gray-lightest: #f5f7fa;

$primary-darkest: #12283a;
$primary-dark: #1a4971;
$primary: #3183c8;
$primary-light: #63a2d8;
$primary-lightest: #aad4f5;

$accent-darkest: #124544;
$accent-dark: #1b655e;
$accent: #3caea3;
$accent-light: #6ed7d3;
$accent-lighest: #a8eeeb;
